/* ------------------------------
* RESET
------------------------------ */

/* Margin + padding */
* {
	margin: 0;
	padding: 0;
}

/* Make it responsive */
img, textarea, svg {
	max-width: 100%;
}

/* Enable svg overflow */
svg {
	overflow: visible;
}

/* Border box default, courtesy of Paul Irish. */
/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/* Pos:rel all the things */
body * {
	position: relative;
}

/* Hide horizontal scroll bars. Just in case. */
html, body {
	width: 100%;
	max-width: 100%;
}

/* Forms are stupid */
label {
	display: inline-block;
}
input, textarea {
	display: block;
	width: 100%;
}
input[type=checkbox],
input[type=radio],
svg {
	vertical-align: middle;
}

/* Let users resize textareas */
textarea {
	resize: vertical;
}

/* Reset buttons */
button {
	overflow: visible;
	background: transparent;
	border: none;
	appearance: button;
	display: inline-block;
	box-shadow: none;

	&::-moz-focus-inner {
		border: 0
	}
}

/* Reset list-style */
ul, ol {
	list-style: none;
}

/* Add IE support for hidden attribute */
[hidden] {
	display: none;
}

/* Disabled elements */
[disabled] {
	cursor: default;
}

/* Cherry picked from normalize */

/* Prevent iOS text size adjust after orientation change, */
/* without disabling user zoom. */
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

/* Display: block defaults */
article, aside, details, figcaption, figure, img, /* img added by me */
footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}

/* Remove linked image border */
img {
	border: 0;
}

/* More form fixes */
button, input, optgroup, select, textarea {
	color: inherit; /* 1 */
	font: inherit; /* 2 */
}

/* IE overflow bug */
button {
	overflow: visible;
}

/* Address inconsistent text-transform inheritance */
button, select {
	text-transform: none;
}

/* Firefox fixes */
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
}
input {
	line-height: normal;
}

/* Safari + chrome fixes */
input[type="search"] {
	-webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/* Fieldset */
fieldset {
	border: none;
}

/* IE scrollbar */
textarea {
	overflow: auto;
}

/* Tables */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ------------------------------
* TYPOGRAPHY
------------------------------ */

html {
	font-family: "Mada", -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
	font-weight: 400;
}

h1, .title {
	font-family: 'Amiri', serif;
	font-weight: 700;
	font-size: 3.55rem; /* 71px */
	line-height: 0.986; /* 70px */
}

h2, h3, h4, h5, h6,
.heading {
	font-weight: 700;
	margin-bottom: 1rem;
}

h2, .u-font-xxl {
	font-size: 1.75rem; /* 35px */
	line-height: 1;
}

h3, .u-font-xl {
	font-size: 1.45rem; /* 29px */
	line-height: 1.0345; /* 30px */
}

h4, .u-font-lg {
	font-size: 1.2rem; /* 24px */
	line-height: 1.4583; /* 35px */
}

h5, .u-font-md {
	font-size: 1rem; /* 20px */
	line-height: 1.5; /* 30px */
}

p, li, h6, .u-font-sm {
	font-size: 0.85rem; /* 17px */
	line-height: 1.7647; /* 30px */
}

.u-compact {
	line-height: 1.17647 !important; /* take font-sm down to 20px */
}

small, .u-font-xs {
	font-size: 0.7rem; /* 14px */
	line-height: 1.7857; /* 25px */
}

.u-font-xxs {
	font-size: 0.6rem; /* 12px */
	line-height: 1.666; /* 20px */
}


/* ------------------------------
* THEME
------------------------------ */

/* $white      : #FFFFFF; */
/* $lightglass : rgba(245, 247, 255, 0.9); */
/* $light-1    : #E0E2EB; */
/* $light-2    : #B8BCC7; */
/* $light-3    : #8F96A3; */
/* $gray       : #707B89; */
/* $dark-1     : #55606D; */
/* $dark-2     : #2A333C; */
/* $dark-3     : #091A25; */
/* $shadow     : rgba(3, 9, 12, 0.25); */
/* $darkglass  : rgba(42, 51, 60, 0.4); */
/* $black      : #03090C; */

html {
	background-color: #03090C;
	color: #E0E2EB; /* fallback */
	color: rgba(245, 247, 255, 0.9);
}

h1, h2, h3, h4, h5, h6,
.heading,
a, button {
	color: #FFFFFF;
}

/* darkglass theme */
.darkglass {
	text-align: center;
	text-decoration: none;
	background-color: #091A25; /* fallback */
	background-color: rgba(42, 51, 60, 0.4);
	border: 1px solid #B8BCC7;
	border-radius: 4px;
	box-shadow: 0 1px 12px 0 rgba(3, 9, 12, 0.25);
	backdrop-filter: blur(4px);
}

a:focus, button:focus, [tabindex]:focus {
	outline: 3px dotted #0AB6FF;
	outline-offset: 7px;
}


/* ------------------------------
* UTILITIES
------------------------------ */

.u-visually-hidden {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}


/* ------------------------------
* LAYOUT
------------------------------ */

html { font-size: 16px; }

@media (min-width: 900px) {
	html { font-size: 18px; }
}
@media (min-width: 1400px) {
	html { font-size: 20px; }
}

.wrapper {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

@media (min-width: 900px) {
	.wrapper {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

.bg {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
}

.bg-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


/* ------------------------------
* NAV
------------------------------ */

.nav {
	background-color: #091A25;
	background-color: rgba(9, 26, 37, 0.9666);
}

/* fixed navbar on big screens */
@media (min-width: 900px), (min-height: 900px) {
	.nav {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10;
		backdrop-filter: blur(6px);
		box-shadow: 0 1px 12px rgba(3, 9, 12, 0.5);
	}
	.nav + * {
		margin-top: 4rem;
	}
}

.nav-inner {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;
}

.nav-logo {
	width: 11.8rem;
	display: flex;
	align-items: center;
}

.nav-list {
	display: flex;
	right: -0.75rem; /* offset .nav-link padding */
}

.nav-link {
	display: block;
	font-weight: 700;
	letter-spacing: 0.5px;
	line-height: 4rem;
	text-decoration: none;
	text-transform: uppercase;
	color: #B8BCC7;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	transition: color 0.2s ease-out;
}

.nav-link:hover,
.nav-link:focus,
.nav-link[aria-current="page"] {
	color: #FFFFFF;
}

/* active page bottom bump */
.nav-link:after {
	content: "";
	display: block;
	width: calc(100% - 2em);
	height: 4px;
	position: absolute;
	left: 1em;
	right: 1em;
	bottom: 0;
	background-image: linear-gradient(to left, #3DFF80 0%, #0AB6FF 34%, #F71DE2 100%);
	border-radius: 4px 4px 0 0;
	opacity: 0;
	transform: scaleX(0);
	transition: all 0.2s ease-out;
	transition-property: opacity, transform;
}

.nav-link[aria-current="page"]:after {
	opacity: 1;
	transform: none;
}


/* ------------------------------
* HERO
------------------------------ */

.hero {
	padding-top: 22.25%; /* maintain aspect ratio */
	min-height: 12rem; /* make sure there's room for text on small screens */
	margin-bottom: -0.75rem;
	z-index: 1; /* fix hidden hero-img on Safari */
}

.hero-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}
/* left align content edge with strike on small screens */
@media (max-width: 899px) {
	.hero-wrapper {
		padding-left: 2.25rem;
	}
}

/* strike */
.hero-headline:before {
	content: "";
	display: block;
	height: 1.21em; /* ~48px */
	width: 0.14em; /* 10px */
	position: absolute;
	left: -0.042em;
	bottom: 0.042em;
	z-index: -1;
	transform: skew(-24deg, 0);
	background-image: linear-gradient(to bottom, #3DFF80 0%, #0AB6FF 34%, #F71DE2 100%);
}

.hero-img {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}


/* ------------------------------
* TILE
------------------------------ */

.tile {
	display: block; /* fallback */
	display: flex;
	text-align: center;
	padding: 2.5rem;
	margin-bottom: 1rem;
}

.tile-inner {
	margin: auto;
}

.tile-img {
	margin-left: auto;
	margin-right: auto;
	transition: transform 0.2s ease-out;
}

.tile-img:not([src*="logo"]) {
	height: 2.1rem; /* 42px */
	margin-top: 0.5rem;
}

.tile:hover .tile-img,
.tile:focus .tile-img {
	transform: scale(1.125);
}

.tile-img ~ * {
	display: block;
	margin-top: 0.75em;
}

.tile-title {
	font-weight: 700;
	letter-spacing: 0.5px;
	line-height: 1.25;
	text-transform: uppercase;
}

/* outbound icon */
.tile-icon {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	transform: scale(0.875);
	transition: transform 0.2s ease-out;
}

.tile-icon path {
	transition: fill 0.2s ease-out;
}

.tile:hover .tile-icon,
.tile:focus .tile-icon {
	transform: none;
}

.tile:hover .tile-icon path,
.tile:focus .tile-icon path {
	fill: #FFFFFF;
}

.darkglass.tile {
	z-index: 1; /* prevent gradient from disappearing on hover in Safari */
	transition: border-color 0.2s ease-out;
}

/* add background color to pseudo element so it can be transitioned in */
.darkglass.tile:after {
	content: "";
	display: block;
	position: absolute;
	top: -1px; right: -1px; bottom: -1px; left: -1px; /* behind border */
	width: calc(100% + 2px);
	height: calc(100% + 2px);
	background-image: linear-gradient(45deg, rgba(247, 29, 226, 0.6) 0%, rgba(66, 198, 255, 0.6) 34%, rgba(61, 255, 128, 0.6) 100%);
	border-radius: 4px;
	z-index: -1;
	opacity: 0;
	transition: all 0.2s ease-out;
	transition-property: opacity, box-shadow, border-color;
}
.darkglass.tile:hover,
.darkglass.tile:focus {
	border-color: rgba(255, 255, 255, 0.425);
	box-shadow: 0 1px 14px 0 rgba(255, 255, 255, 0.333);
	backdrop-filter: blur(1px); /* transform + background blur makes inner content blurry */
}

.darkglass.tile:hover:after,
.darkglass.tile:focus:after {
	opacity: 1;
}


/* ------------------------------
* TOOLS PAGE
------------------------------ */

.tools-section {
	margin-bottom: 2rem;
}

/* progressively enhanced layout */
@supports (display: grid) {
	/* 2 columns */
	@media (min-width: 600px) {
		.tools-wrapper {
			display: grid;
			grid-template-columns: 1fr 2rem 1fr;
		}

		.tools-section:nth-child(1) { grid-column: 1/4; }
		.tools-section:nth-child(2) { grid-column: 1/2; }
		.tools-section:nth-child(3) { grid-column: 3/4; }

		.tools-heading {
			text-align: center;
		}

		.tools-item:last-child .tile {
			margin-bottom: 0;
		}

		/* magic number to keep tiles vertically aligned when text breaks */
		.tools-item .tile {
			min-height: 200px;
		}
	}

	/* 3 columns */
	@media (min-width: 900px) {
		.tools-wrapper {
			grid-template-columns: 1fr 2rem 1fr 2rem 1fr;
		}

		.tools-section:nth-child(1) { grid-column: 1/2; }
		.tools-section:nth-child(2) { grid-column: 3/4; }
		.tools-section:nth-child(3) { grid-column: 5/6; }

		/* equal height columns */
		.tools-section,
		.tools-list {
			display: flex;
			flex-direction: column;
		}
		.tools-list,
		.tools-item:only-child,
		.tools-item:only-child > .tile {
			height: 100%;
		}
	}
}
